certifi==2018.4.16
chardet==3.0.4
future==0.16.0
hachoir3==3.0a2
idna==2.6
idna-ssl==1.0.1
multidict==4.3.1
python-telegram-bot==10.1.0
requests==2.18.4
rsa==3.4.2
Telethon-sync==1.0.4
urllib3==1.22
yarl==1.2.6
youtube-dl==2018.6.25
hachoir

